# Files to be ignored when packaging the extension

.vscode/**
.vscode-test/**
**/.vscode-test.*

.gitignore
.prettierrc

.yarnrc
yarn.lock

# Typescript and eslint
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts

# Python and Jupyter Notebooks
.jupytext-sync-ipynb/
.ipynb_checkpoints/
*.py
*.ipynb

# macOS metadata
.DS_Store

src/**

# Not needed, in the README we link to the raw files on GitHub.
# Make the extension smaller.
assets/**

# Developer notes
DEVELOPER.md
